---
import AdSlot from "./AdSlot.astro";
---

<aside class="hidden lg:block w-full max-w-[300px] shrink-0">
    <div class="sticky top-20 space-y-6">
        <AdSlot variant="sidebar-sticky" />
    </div>
</aside>
